Hello I'm a dashboard.

<p><%= link_to "Experiences", experiences_path %></p>
<p><%= link_to "Education", experiences_path %></p>
<p><%= link_to "Activities and Projects", experiences_path %></p>
<p><%= link_to "Qualifications", experiences_path %></p>