<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @qualification.description %>
</p>

<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
